* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --principal-background: rgb(0, 0, 0);
  --grey-color: rgb(70, 70, 70);
  --head-logo-buttom-size: 80px;
}

header[id="header"] {
  background-color: var(--principal-background);
  color: var(--grey-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  width: 100%;
}
header[id="header"] > h1 {
  display: none;
}
header[id="header"] div[id="header-logo"] {
  width: var(--head-logo-buttom-size);
  height: var(--head-logo-buttom-size);
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
header[id="header"] div[id="header-logo"]:hover {
  background-image: url(/img/logo.gif);
}
header[id="header"] nav {
  list-style: none;
  position: absolute;
  top: var(--head-logo-buttom-size);
  background-color: var(--principal-background);
  width: 100%;
  left: 0;
  display: none;
  /* background-color: var(--principal-background); */
  /* width: 80%; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}
header[id="header"] li {
  border-bottom: 2px solid var(--grey-color);
  padding: 10px;
  text-align: center;
}
header[id="header"] a {
  color: inherit;
  text-decoration: none;
}
header[id="header"] div[id="header-button"] {
  width: var(--head-logo-buttom-size);
  height: var(--head-logo-buttom-size);
  display: flex;
  justify-content: center;
}
header[id="header"] div button {
  color: var(--grey-color);
  background-color: var(--principal-background);
  border: none;
  outline: none;
}
