* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --principal-background: rgb(0, 0, 0);
  --grey-color: rgb(70, 70, 70);
  --head-logo-buttom-size: 80px;
  --banner-height: 80vw;
  --color-white: rgb(255, 255, 255);
}
.outline-none {
  outline: none;
}

header[id="header"] {
  background-color: var(--principal-background);
  color: var(--grey-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  width: 100%;
}
header[id="header"] > h1 {
  display: none;
}
header[id="header"] div[id="header-logo"] {
  width: var(--head-logo-buttom-size);
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
header[id="header"] div[id="header-logo"]:hover {
  background-image: url(/img/logo.gif);
}
header[id="header"] nav {
  list-style: none;
  position: absolute;
  top: var(--head-logo-buttom-size);
  background-color: var(--principal-background);
  width: 100%;
  left: 0;
  display: none;
  /* background-color: var(--principal-background); */
  /* width: 80%; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}
header[id="header"] li {
  border-bottom: 2px solid var(--grey-color);
  padding: 10px;
  text-align: center;
}
header[id="header"] a {
  color: inherit;
  text-decoration: none;
}
header[id="header"] div[id="header-button"] {
  width: var(--head-logo-buttom-size);
  height: var(--head-logo-buttom-size);
  display: flex;
  justify-content: center;
}
header[id="header"] div button {
  color: var(--grey-color);
  font-size: 20px;
  background-color: var(--principal-background);
  border: none;
}
main {
  padding-top: var(--head-logo-buttom-size);
}
main div[id^="bann"] {
  height: var(--banner-height);
  width: 100%;
  position: absolute;
}
main div[id="banner-img"] {
  background-image: url(/img/bosque.jpg);
  background-size: cover;
  z-index: -100;
}
main div[id="banner-deg"] {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}
main div[id="banner"] {
  z-index: -1;
  color: var(--color-white);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main section[id="home"] {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
}
main section[id="home"] h2,
p,
button {
  margin: 20px 0;
}
main section[id="home"] p {
  order: -1;
}
main section[id="home"] button {
  font-size: 1em;
  padding: 1em 1.7em;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
}
